@model IdentityChatMail.Entities.Message
@{

    Layout = "~/Views/Shared/_MessageLayout.cshtml";

}


<div class="container">

    <br />
    <br />
    <form method="post">

        <label>Receiver Email</label>
        <input type="text" asp-for="ReceiverEmail" class="form-control" />
        <br />

        <label>Subject</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <br />

        <label>Message</label>
        <input type="text" asp-for="MessageDetail" class="form-control" />
        <br />
        <button class="btn btn-primary">Send Message</button>
    </form>
</div>
