
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<h1>User Profile Page</h1>

<h2>Hos geldiniz! @ViewBag.v1 _ @ViewBag.v2</h2>

<p> 
    
    Email > @ViewBag.v3
</p>

